/* --- RESET --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- COMMON --- */
.container{
    max-width: 1000px;
    margin: auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* --- TYPOGRAPHY --- */
body{
    font-family: 'Roboto', sans-serif;
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fredoka One', cursive;
}

/* --- MAIN --- */
h1{
    padding: 30px 0;
    font-size: 30px;
    color: #E53170;
    text-align: center;
}
p{
    color: black;
    text-align: center;
}
.card{
    width: calc(33.33% - 20px);
    float: left;
    margin: 40px 10px 0px 10px;
    background-color: #0f0e17;
}
.left{
    margin-left: 0px;
}
.image{
    float: left;
    width: 100px;
    height: 100px;
}
.info-card{
    width: calc(100% - 100px);
    float: left;
    padding: 15px;
}
h4{
    padding-bottom: 5px;
}
